/* color scheme by visme.co "Bert"*/
$color-contrast: #66FCF1;
$color-text: #C5C6C7;
$color-background: #1F2833;
$color-background-nav: #0B0C10;
$color-primary: #45A29E;

* {
    box-sizing: border-box;
}


.movie-view{
    background-color: $color-background;
}

.bold{
    font-weight: bold;
}

.card-body--container{
    position: absolute;
}

.card-body{
    position: relative;
    margin: 20px auto;
}
