/* color scheme by visme.co "Bert"*/
$color-contrast: #66FCF1;
$color-text: #C5C6C7;
$color-background: #1F2833;
$color-background-nav: #0B0C10;
$color-primary: #45A29E;

* {
    box-sizing: border-box;
}

.login--form-container{
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.login--form{
    border: 1px solid #F5F5F5;
    border-radius: 9px;
    width: 470px;
    height: 450px;

    margin-top: 40px;
    padding: 30px 50px;
    align-items: center;

    gap: 20px;
}

.login--form-title{
    margin: 40px 0;
    color: $color-text;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

.form--input-field{
    color: $color-text;
    margin: 40px 0;
}

.form--button-container{
    text-align: center;
}

.register-call{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

.register-text{
    margin-top: 5px;
    padding: 6px 12px;
    color: $color-text;
    font-size: 14px;

}

.register-link{
    color: $color-primary;
}